    * {
        box-sizing: border-box;
        --theme-color: #0097e6;
    }
    
    body {
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    #logo {
        color: yellow;
        padding: 9px 77px;
        font-size: 1.5em;
        font-weight: 700;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 13px 19px;
        font-size: 1.2em;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .active {
        background-color: var(--theme-color);
    }
    
    .search-container {
        float: right;
        margin-top: 7.5px;
    }
    
    input[type=text] {
        padding: 5px 11px;
        font-size: 1.2em;
        border-radius: 7px;
        border: none;
    }
    
    .search-container button {
        float: right;
        padding: 5px 11px;
        margin: -2px 22px;
        background: #333;
        font-size: 1.2em;
        border-radius: 7px;
        border: 2px solid var(--theme-color);
        color: var(--theme-color);
        cursor: pointer;
    }
    
    .search-container button:hover {
        color: white;
        background-color: var(--theme-color);
    }
    
    .container {
        /* background-color: yellow; */
        margin: 0 auto;
        width: 70%;
        display: block;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1.2;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    h1 {
        /* padding: 11px 0; */
        margin-top: 66px;
        font-size: 2.5rem;
        font-weight: 600;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h5 {
        font-size: 1.25rem;
    }
    
    .container form {
        /* background-color: aqua; */
        margin: 22px;
    }
    
    .card {
        position: relative;
        display: flex;
        /* -ms-flex-direction: column; */
        flex-direction: column;
        min-width: 0;
        margin-bottom: 44px;
        /* word-wrap: break-word; */
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
    }
    
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
    
    .card-title {
        margin-bottom: 0.75rem;
    }
    
    .form-group {
        margin-bottom: 1rem;
    }
    
    textarea.form-control {
        height: auto;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    textarea {
        overflow: auto;
        resize: vertical;
    }
    
    .btn-info {
        color: #fff;
        background-color: var(--theme-color);
        border-color: var(--theme-color);
    }
    
    .btn-info:hover {
        color: yellow;
        background-color: #25abf4;
    }
    
    .btn-danger {
        color: #fff;
        background-color: #fe2235;
        border-color: #fe2235;
    }
    
    .btn-danger:hover {
        background-color: #ff6b81;
        border-color: #ff6b81;
        color: rgb(43, 42, 42);
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        /* color: #212529; */
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        /* -webkit-user-select: none; */
        /* -moz-user-select: none; */
        /* -ms-user-select: none; */
        user-select: none;
        /* background-color: transparent; */
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    button,
    select {
        text-transform: none;
    }
    
    button,
    input {
        overflow: visible;
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        /* font-size: inherit; */
        /* line-height: inherit; */
    }
    
    hr {
        color: white;
    }
    
    .row {
        /* display: -ms-flexbox; */
        display: flex;
        /* -ms-flex-wrap: wrap; */
        flex-wrap: wrap;
        /* margin: 0 -11px; */
    }
    
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        width: 100%;
        padding: 0 11px;
        /* margin-right: auto; */
        /* margin-left: auto; */
    }
    
    .noteCard {
        width: 244px;
        margin: 8px;
    }
    
    .noteCard .card-body {
        text-align: center;
        padding: 7px;
    }
    
    .noteCard .card-title {
        padding: 7px;
        background-color: #dcf0fe;
        border-bottom: 2px solid var(--theme-color);
    }
    
    .noteCard .card-text {
        text-align: initial;
        margin: 0;
        padding: 0 0 11px;
        /* border-bottom: 2px solid #04AA6D; */
    }
    
    @media screen and (max-width: 600px) {
        .search-container {
            float: none;
        }
        a,
        input[type=text],
        .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
        input[type=text] {
            border: 1px solid #ccc;
        }
    }